<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h2 padding>
        {{'home' | translate}}
    </h2>

    <ion-list>
        <ion-item>
            <ion-label>{{'language' | translate}}</ion-label>
            <ion-select [(ngModel)]="selectedLang" (ionChange)="changeLanguage(selectedLang)"
                        [value]="selectedLang" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="de">Македонски</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <div class="theGallery">
        <ion-item>
            <ion-label><strong>Image Gallery</strong></ion-label>
        </ion-item>
        <ion-card color="light" *ngIf="gallery.length == 0">
            <ion-card-content  text-center>
                No images in your gallery.
                <div>
                    Take your first picture
                </div>
            </ion-card-content>
        </ion-card>
        <img [src]="item" *ngFor="let item of gallery">
    </div>
    <ion-button size="full" (click)="takePicture()">{{'takePicBtn' | translate}}</ion-button>

</ion-content>